@model IEnumerable<TravelBadgers.Models.TripOverviewListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TripOverviewId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartCityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalCityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TripOverviewId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DepartCityId)
    </td>
    <td>
        @foreach (var city in item.ArrivalCityId)
        {
            @Html.DisplayFor(modelItem => city.CityName)
        }
        </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedUtc)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
